# Heart Disease Prediction Model

## Importing the data

In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("~/Documents/Verzeo/heart.csv")

In [5]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
target = df["target"]

In [8]:
features = df.drop("target",axis="columns")

In [9]:
features

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [10]:
features.isna().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

In [11]:
features.ndim

2

In [17]:
from tensorflow.keras.utils import to_categorical

In [18]:
target = to_categorical(target)

In [19]:
target.shape

(303, 2)

## Step 1: Specify Architecture

In [12]:
from keras.models import Sequential
from keras.layers import Dense, Flatten

In [13]:
model = Sequential()

In [31]:
model.add(Flatten())
model.add(Dense(128,activation="relu",input_shape=(13,)))
model.add(Dense(64,activation="relu"))
model.add(Dense(2,activation="softmax"))

## Step 2: Compile the Model

In [32]:
model.compile(optimizer="adam", loss="categorical_crossentropy", metrics=["accuracy"])

## Step 3: Fit/Train/Scan the Model

In [33]:
model.fit(features,target,epochs=10)

Epoch 1/10
10/10 [==============================] - 2s 3ms/step - loss: 0.6939 - accuracy: 0.5013
Epoch 2/10
10/10 [==============================] - 0s 4ms/step - loss: 0.6939 - accuracy: 0.5128
Epoch 3/10
10/10 [==============================] - 0s 3ms/step - loss: 0.6927 - accuracy: 0.5237
Epoch 4/10
10/10 [==============================] - 0s 3ms/step - loss: 0.6926 - accuracy: 0.5269
Epoch 5/10
10/10 [==============================] - 0s 3ms/step - loss: 0.6921 - accuracy: 0.5285
Epoch 6/10
10/10 [==============================] - 0s 3ms/step - loss: 0.6943 - accuracy: 0.5244
Epoch 7/10
10/10 [==============================] - 0s 3ms/step - loss: 0.6879 - accuracy: 0.5514
Epoch 8/10
10/10 [==============================] - 0s 3ms/step - loss: 0.6909 - accuracy: 0.5376
Epoch 9/10
10/10 [==============================] - 0s 3ms/step - loss: 0.6893 - accuracy: 0.5447
Epoch 10/10
10/10 [==============================] - 0s 3ms/step - loss: 0.6924 - accuracy: 0.5255

## Step 4: Test the Model (Predict on Sample Data)

In [34]:
features

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [39]:
test_data = pd.DataFrame({"age":[45],"sex":[0],"cp":[0],"trestbps":[120],"chol":[120],"fbs":[0],"restecg":[0],"thalach":[220],"exang":[1],"oldpeak":[1.5],"slope":[0],"ca":[2],"thal":[3]})

In [40]:
model.predict(test_data)

array([[0.4630903 , 0.53690976]], dtype=float32)